# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
env/
ENV/

# Django
*.sqlite3
*.db
/staticfiles/
media/
*.pot
*.py[co]

# VSCode
.vscode/

# PyCharm
.idea/


# System
.DS_Store
Thumbs.db